{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block head %}
  {{ super() }}
  <meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block content %}
<main class="container">
  <div class="login">
    <form method="post">
      {{ form.hidden_tag() }}

      <div class="form-group">
        <label for="email" class="sr-only">Email</label>
        {{ form.email(id="email", required=True, placeholder="Email") }}
        <div class="input-icon">
          <svg viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="sr-only">Password</label>
        {{ form.password(id="password", required=True, placeholder="Password")
        }}
        <div class="input-icon">
          <svg viewBox="0 0 24 24">
            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
          </svg>
        </div>
      </div>
      
      {% with messages = get_flashed_messages() %} 
        {% if messages %}
          {% for message in messages %}
            <p class="alert alert-danger">{{ message }}</p>
          {% endfor %}
        {% endif %} 
      {% endwith %}
      
      {{ form.submit(class="login-btn") }}
    </form>
  </div>
</main>
{% endblock %}
