{% extends 'base.html' %} {% block head %} {{ super() }}{% endblock %} {% block
head_styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/dashboard.css') }}"
/>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<meta name="robots" content="noindex, nofollow" />
{% endblock %} {% block title %}Dashboard Overview - Jakedaily{% endblock %} {%
block content %}
<main>
  <div class="dashboard">
    <div class="dashboard_menu">
      <ul>
        <li class="active">
          <a href="{{ url_for('dashboard.index')}}">Overview</a>
        </li>
        <li><a href="{{ url_for('dashboard.posts')}}">Posts</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
      </ul>
    </div>
    <div class="dashboard_content">
      {% block dashboard_content %}{% endblock %}
    </div>
  </div>
</main>
{% endblock %}
