.dashboard {
  max-width: 1920px;
  width: 100%;
  padding: 8px;
  margin: 0 auto;
  display: flex;
  align-items: start;
  flex: 1 1 0%;
  flex-direction: row;
}
.dashboard_menu {
  max-width: 200px;
  min-width: 200px;
  width: 100%;
  padding: 8px;
}
.dashboard_menu ul {
  list-style: none;
}
.dashboard_menu li {
  cursor: pointer;
}
.dashboard_menu li:hover {
  background-color: rgba(46, 60, 86, 0.07);
}
.dashboard_menu a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  padding: 4px 4px 4px 8px;
  width: 100%;
}
.active {
  background-color: rgba(46, 60, 86, 0.07);
}
.dashboard_content {
  width: 100%;
  padding: 16px 32px;
}
.content_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
h1 {
  font-size: 24px;
  font-weight: 500;
}
.content_header a {
  text-decoration: none;
  border: 1px solid #333;
  padding: 8px;
  border-radius: 4px;
  font-size: 15px;
  color: #333;
}
table {
  width: 100%;
  margin: 40px 0;
  table-layout: fixed;
  border: 1px solid #c3c4c7;
  border-collapse: collapse;
  color: #333;
}
th {
  padding: 8px;
  font-weight: 500;
  background-color: rgba(46, 60, 86, 0.07);
  text-align: left;
  border-bottom: 1px solid #c3c4c7;
  white-space: nowrap;
}
td {
  padding: 10px 8px;
  border-bottom: 1px solid #e5e5e5;
  vertical-align: middle;
  word-break: break-word;
}
input,
textarea {
  padding: 8px;
  margin: 8px 0;
  width: 100%;
  font-size: 17px;
}
